@import "./../../common/reset.css";

.header {
  background-color: antiquewhite;
}

.visual {
  background-color: lightcoral;
}

.main {
  background-color: lightskyblue;
  display: flow-root;
}

.article {
  background-color: lightgreen;
}

.footer {
  background-color: pink;
}

.group {
  background-color: darkblue;
  color: white;
  margin-left: 15px;
  margin-left: 15px;
  margin-inline: 15px;
  height: 60vh;
  block-size: 60vh;
}

.header,
.visual,
.main,
.article,
.footer {
  width: 940px;
  inline-size: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-inline: auto;
}

.header,
.visual,
.article,
.footer {
  height: 10vh;
  block-size: 10vh;
}

.group1 {
  float: left;
  float: inline-start;
  block-size: 20vh;
  width: 250px;
  inline-size: 250px;
}

.group2 {
  float: left;
  float: inline-start;
  block-size: 30vh;
  width: 380px;
  inline-size: 380px;
}

.group3 {
  float: left;
  float: inline-start;
  block-size: 40vh;
  width: 190px;
  inline-size: 190px;
}

.article {
  clear: both;
}
